@import "tailwindcss";

@theme {
  --color-green-bg: #ecf4e9;
  --color-gray-10: #eff0f0;
  --color-cyan-dark: #00434c;
  --color-jean-orange: #fd7d19;
  --jean-white: #ffffff;
  --jean-gray-50: #f9fafb;
  --jean-gray-100: #f3f4f6;
  --jean-gray-200: #e5e7eb;
  --jean-gray-300: #d1d5db;
  --jean-gray-600: #4b5563;
  --jean-gray-900: #111827;
  /* --jean-green-300: #86efac; */
  --color-jean-green-400: #ecf4e9;
  --jean-green-600: #16a34a;
  --jean-teal-800: #115e59;
  --color-green-save: #15803d;
  --color-green-save-hover: #166534;
  --color-teal-edit: #0f766e;
  --color-teal-edit-hover: #134e4a;
}

.scrollbar-green::-webkit-scrollbar {
  height: 8px;
  /* For horizontal scrollbar */
}

.scrollbar-green::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Light track */
  border-radius: 10px;
}

.scrollbar-green::-webkit-scrollbar-thumb {
  background: #22c55e;
  /* Green thumb */
  border-radius: 10px;
}

.scrollbar-green::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
  /* Darker green on hover */
}
